.background-enter, .background-appear{
    opacity: 0;
    filter: blur(4px);
}
.background-enter-active, .background-appear-active {
    opacity: 1;
    filter: blur(0);
    transition: all 200ms ease-in-out 200ms;
    /* transition: all 800ms ease-in-out 500ms; */
}
.background-exit {
    opacity: 1;
}
.background-exit-active {
    opacity: 0;
    transition: opacity 0ms ease-in-out;
}