.countDown-enter, .countDown-appear{
    opacity: 0;
    scale: 0.97;
}
.countDown-enter-active, .countDown-appear-active {
    opacity: 1;
    scale: 1;
    transition: all 1500ms ease-in-out 1500ms;
}
.countDown-exit {
    opacity: 1;
}
.countDown-exit-active {
    opacity: 0;
}
