.countDown-enter, .countDown-appear{
    opacity: 0;
    scale: 1.03;
}
.countDown-enter-active, .countDown-appear-active {
    opacity: 1;
    scale: 1;
    transition: all 1000ms ease-in-out 1000ms;
}
.countDown-exit {
    opacity: 1;
}
.countDown-exit-active {
    opacity: 0;
    transition: opacity 1000ms ease-in-out;
}