.info-enter, .info-appear {
    opacity: 0;
    scale: 0.98;
}
.info-enter-active, .info-appear-active {
    opacity: 1;
    scale: 1;
    transition: all 500ms ease-in-out 1000ms;
}
.info-exit {
    opacity: 1;
}
.info-exit-active {
    opacity: 0;
    /* transition: opacity 1000ms ease-in-out; */
}