.name-enter, .name-appear {
    opacity: 0;
    scale: 0.97;
}
.name-enter-active, .name-appear-active {
    opacity: 1;
    scale: 1;
    transition: all 1000ms ease-in-out;
}
.name-exit {
    opacity: 1;
}
.name-exit-active {
    opacity: 0;
    transition: opacity 1000ms ease-in-out;
}