@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;600;700;800&display=swap');

body {
  margin: 0;
  font-family: 'Archivo', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

.text {
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8), 0px 0px 90px rgba(0, 0, 0, 1),  0px 0px 150px rgba(0, 0, 0, 1);
}